<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Nona's Kitchen</title>
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/nonas_kitchen.css" />
  </head>

  <body>
    <div id="nav">
      <div class="col-sm nav-align"><h1 id="title">Nona's Kitchen</h1></div>
      <div class="col-sm nav-align">
        <a href="/"> <span class="button">Home</span> </a>
        <a href="/recipes.html"> <span class="button">Recipes</span> </a>
        <a href="/contact.html"> <span class="button">Contact</span> </a>
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6"><img src="/product.jpg" alt="" /></div>
      <div class="col-sm-6">
        <h1 class="title">Learn to cook deliciuos Italian dishes.</h1>
        <h3>Nona's recipes:</h3>
        <ul>
          <li>Arancini</li>
          <li>Cinnamon Raisin Bread</li>
          <li>Focacia / Fugassa</li>
          <li>Lassagna</li>
          <li>Pizza</li>
          <li>Risotto</li>
        </ul>
        <a href="/contact.html">Contact Us</a> today!
      </div>
    </div>
  </body>
  
</html>
